
<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/pubs/">Publications</a>
      <br></br>
      Research<br></br><br></br>
      &gt Rolling Shutter Cameras<br></br>
      <a class="sidebar-nav-item" href="/rs_rect/">&gt&gt Rectification</a>
      <a class="sidebar-nav-item" href="/rs_sr/">&gt&gt Super-resolution</a>
      <a class="sidebar-nav-item" href="/rs_cd/">&gt&gt Change Detection</a>
      <br></br>
      &gt Global Shutter Cameras<br>
      <a class="sidebar-nav-item" href="/gs_mb/">&gt&gt Motion Blur Registration </a>
      <br></br>
      &gt Single Pixel Cameras<br>
      <a class="sidebar-nav-item" href="/cs_me/">&gt&gt Camera Motion Estimation</a>
    </nav>


  </div>
</div>
