<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <img src="/img/orig256.png" style="border-radius:50%;" >
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/pubs/">Publications</a>
      <br>
      Research<br>
      &gt Rolling Shutter Cameras<br>
      <a class="sidebar-nav-item" href="/rs_demo/">&gt&gt DEMO</a>
      <a class="sidebar-nav-item" href="/rs_rect_geom/">&gt&gt Geometry-based Rectification</a>
      <a class="sidebar-nav-item" href="/rs_rect_cnn/">&gt&gt Learning-based Rectification</a>
      <a class="sidebar-nav-item" href="/rs_sr/">&gt&gt Super-resolution</a>
      <a class="sidebar-nav-item" href="/rs_cd/">&gt&gt Change Detection</a>
      <br>
      &gt Global Shutter Cameras<br>
      <a class="sidebar-nav-item" href="/gs_mb/">&gt&gt Motion Blur Registration </a>
      <br>
      &gt Single Pixel Cameras<br>
      <a class="sidebar-nav-item" href="/cs_mot/">&gt&gt Camera Motion Estimation</a>
      <br>
      <!--Paper Notes<br>
      <a class="sidebar-nav-item" href="/dl1/">&gt Deep Learning I</a>
      <a class="sidebar-nav-item" href="/dl2/">&gt Deep Learning II</a>-->
    </nav>


  </div>
</div>
