<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/pubs/">Publications</a>
      <br>
      Research<br><br>
      > Rolling Shutter Cameras<br>
      <a class="sidebar-nav-item" href="/rs_rect/">>> Rectification</a>
      <a class="sidebar-nav-item" href="/rs_sr/">>> Super-resolution</a>
      <a class="sidebar-nav-item" href="/rs_cd/">>> Change Detection</a>
      <br>
      > Global Shutter Cameras<br>
      <a class="sidebar-nav-item" href="/gs_mb/">>> Motion Blur Registration </a>
      <br>
      > Single Pixel Cameras<br>
      <a class="sidebar-nav-item" href="/cs_me/">>> Camera Motion Estimation</a>
    </nav>

    <!--<p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>-->
  </div>
</div>
